
/*
 *
 * GENERAL
 *
 *
 */


* {
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0px;
}


/*
 *
 * END GENERAL
 *
 *
 */



/*
 *
 * DIMENSIONS
 *
 *
 */

/* WRAPPER */
.wrapper {
    height: 100%;
    width: 80%;
    margin: 0 10%;
}
/* END WRAPPER */


/* HEADER */
.header {
    height: 15vh;
    widows: inherit;
}

#header-wrap {
    margin: 20px 30px;
    width: auto;
    height: auto;
}
/* END HEADER*/


/* MAIN NAV */
#main-nav-wrapper {
    width: auto;
    height: auto;
    margin: 0 15px;
}

#main-nav-list {
    list-style: none;
    padding: 0;
    width: 100%;
    height: auto;
    float: left;
}

.main-nav-item {
    text-align: left;
    float: left;
    margin: 0 15px;
    padding: 5px 0;
}
/* END MAIN NAV */



/* ACCOUNT */

/* END ACCOUNT */


/* CONTENT */
.content {
    height: 75vh;
    widows: inherit;
}

#main-content-wrapper, #posts-content-wrapper, #register-content-wrapper  {
    height: -webkit-fill-available;
    height: -moz-available;
    width: -moz-available;
    width: -webkit-fill-available;
    padding: 10px 15px;
}
/* END CONTENT*/


/* POSTS */
#posts-wrapper {
    margin: 10px 10px;
    width: inherit;
    height: 450px;
    overflow-y: auto;
}

.post {
    height: 175px;
    width: inherit;
    position: relative;
    border: 0.5px solid black;
    padding: 5px;
    margin: 0 0 15px 0;
    overflow: hidden;
}

.post-title {
    margin: 5px 0px;
    position: relative;
}

.post-content {
    margin: 10px 0;
    position: relative;
}

.post-info {
    bottom: 5px;
    position: absolute;
    width: inherit;
    padding-right: 10px;
}

.post-date {
    float: right;
}

.post-edit, .post-remove {
    float:left;
    margin: 0 5px;
}
.post-edit a, .post-remove button {
    border: none;
    text-decoration: underline;
    outline: 0;
    background: none;
}
.post-edit a:hover,
.post-remove button:hover,
.post-edit a:active,
.post-remove button:active {
    cursor: pointer;
    font-size: 14px;
}
/* END POSTS */


/* POSTS PAGES */
#posts-content-title {
    width: inherit;
    height: 50px;
}

#posts-content-title h3 {
    padding: 10px 15px;
    height: -webkit-fill-available;
}

#posts-content-form {
    margin: 10px 10px;
    width: inherit;
    height: 450px;
    overflow-y: auto;
}

/* END POSTS PAGES */


/* EDIT POST */
#edit-content-title {
    width: inherit;
    height: 50px;
}

#edit-content-title h3 {
    padding: 10px 15px;
    height: -webkit-fill-available;
}

#edit-content-form {
    margin: 10px 10px;
    width: inherit;
    height: 450px;
    overflow-y: auto;
}
/* END EDIT POST */


/*** ACCOUNT ***/

/* LOGIN */
.login-card {
    padding: 40px;
    width: 274px;
    background-color: #F7F7F7;
    margin: 0 auto 10px;
    overflow: hidden;
}

.login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}

.login-card input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.login-card input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}


/* END LOGIN*/

/*** END ACCOUNT ***/


/* FOOTER */
.footer {
    height: 10vh;
    widows: inherit;
}
/* END FOOTER*/


/*
 *
 * END DIMENSIONS
 *
 */



/*
 *
 * STYLING
 *
 *
 */

/* WRAPPER */
.wrapper {
    border: 0.5px solid black;
}
/* END WRAPPER*/


/* HEADER */
.header {
    border: 0.5px solid black;
}

.nav {}
/* END HEADER*/


/* CONTENT */
.content {
    border: 0.5px solid black;
}
/* END CONTENT*/


/* FOOTER */
.footer {
    border: 0.5px solid black;
}
/* END FOOTER*/


/*
 *
 * END Styling
 *
 *
 */