
/*
 *
 * GENERAL
 *
 *
 */


* {
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0px;
}


/*
 *
 * END GENERAL
 *
 *
 */



/*
 *
 * DIMENSIONS
 *
 *
 */

/* WRAPPER */
.wrapper {
    height: 100%;
    width: 80%;
    margin: 0 10%;
}
/* END WRAPPER */


/* HEADER */
.header {
    height: 15vh;
    widows: inherit;
}

#header-wrap {
    margin: 20px 30px;
    width: auto;
    height: auto;
}
/* END HEADER*/


/* MAIN NAV */
#main-nav-wrapper {
    width: auto;
    height: auto;
    margin: 0 15px;
}

#main-nav-list {
    list-style: none;
    padding: 0;
}

.main-nav-item {
    text-align: left;
    float: left;
    margin: 0 15px;
    padding: 5px 0;
}
/* END MAIN NAV */


/* CONTENT */
.content {
    height: 75vh;
    widows: inherit;
}

#main-content-wrapper, #adminpanel-content-wrapper  {
    height: -webkit-fill-available;
    height: -moz-available;
    width: -moz-available;
    width: -webkit-fill-available;
    padding: 10px 15px;
}

{

}

/* END CONTENT*/


/* POSTS NAV */
#posts-nav {
    width: inherit;
    height: 50px;
}

#posts-nav-wrapper {
    height: inherit;
    width: inherit;
    padding: 0 5px;
}

#posts-nav-list {
    list-style: none;
    height: inherit;
    width: inherit;
    padding: 0;
}

.posts-nav-item {
    float: left;
    text-align: left;
    height: inherit;
    margin: 0 10px;
}

.posts-nav-item form input,
.posts-nav-item form input:hover,
.posts-nav-item form input:active,
.posts-nav-item form input:focus {
    padding: 10px 0;
    display: inline-block;
    background: none;
    border: none;
    outline: 0;
    text-decoration: underline;
    font-size: 16px;
}
.posts-nav-item form input:hover,
.posts-nav-item form input:active,
.posts-nav-item form input:focus {
    cursor: pointer;
}


/* END POSTS NAV */


/* POSTS */
#posts-wrapper {
    margin: 10px 10px;
    width: inherit;
    height: 450px;
    overflow-y: auto;
}

.post {
    height: 175px;
    width: inherit;
    position: relative;
    border: 0.5px solid black;
    padding: 5px;
    margin: 0 0 15px 0;
    overflow: hidden;
}

.post-title {
    margin: 5px 0px;
    position: relative;
}

.post-content {
    margin: 10px 0;
    position: relative;
}

.post-info {
    bottom: 5px;
    position: absolute;
    width: inherit;
    padding-right: 10px;
}

.post-date {
    float: right;
}

.post-edit, .post-remove {
    float:left;
    margin: 0 5px;
}
.post-edit a, .post-remove button {
    border: none;
    text-decoration: underline;
    outline: 0;
    background: none;
}
.post-edit a:hover,
.post-remove button:hover,
.post-edit a:active,
.post-remove button:active {
    cursor: pointer;
    font-size: 14px;
}
/* END POSTS */


/* ADMIN PANEL */
#adminpanel-content-title {
    width: inherit;
    height: 50px;
}

#adminpanel-content-title h3 {
    padding: 10px 15px;
    height: -webkit-fill-available;
}

#adminpanel-content-form {
    margin: 10px 10px;
    width: inherit;
    height: 450px;
    overflow-y: auto;
}

/* END ADMIN PANEL */


/* EDIT POST */
#edit-content-title {
    width: inherit;
    height: 50px;
}

#edit-content-title h3 {
    padding: 10px 15px;
    height: -webkit-fill-available;
}

#edit-content-form {
    margin: 10px 10px;
    width: inherit;
    height: 450px;
    overflow-y: auto;
}
/* END EDIT POST */


/* FOOTER */
.footer {
    height: 10vh;
    widows: inherit;
}
/* END FOOTER*/


/*
 *
 * END DIMENSIONS
 *
 */



/*
 *
 * STYLING
 *
 *
 */

/* WRAPPER */
.wrapper {
    border: 0.5px solid black;
}
/* END WRAPPER*/


/* HEADER */
.header {
    border: 0.5px solid black;
}

.nav {}
/* END HEADER*/


/* CONTENT */
.content {
    border: 0.5px solid black;
}
/* END CONTENT*/


/* FOOTER */
.footer {
    border: 0.5px solid black;
}
/* END FOOTER*/


/*
 *
 * END Styling
 *
 *
 */